{{- define "main" -}}

{{/* Author profile page. */}}

{{/* If an account has not been created for this user, just display their name as the title. */}}
{{ if not .File }}
<div class="universal-wrapper pt-3">
  <h1>{{ .Title }}</h1>
</div>
{{ end }}

<section id="profile-page" class="pt-5">
  <div class="container">
    {{/* Show the About widget if an account exists for this user. */}}
    {{ if .File }}
      {{ $widget := "widgets/about.html" }}
      {{ $username := (path.Base (path.Split .Path).Dir) }}{{/* Alternatively, use `index .Params.authors 0` */}}
      {{ $params := dict "root" $ "page" . "author" $username }}
      {{ partial $widget $params }}
    {{end}}

    {{ $query := where .Pages ".IsNode" false }}
    {{ $count := len $query }}
    {{ if $count }}
    <div class="article-widget content-widget-hr">
      <h3>{{ i18n "publications" | default "Publications" }}</h3>
      <ul>
        {{ range $item := $query }}
        <li>
          <div class="pub-list-item view-citation" style="margin-bottom: 1rem">
            <!-- <i class="far fa-file-alt pub-icon" aria-hidden="true"></i> -->

            {{/* APA Style */}}
            {{ if eq (site.Params.publications.citation_style | default "apa") "apa" }}
          
            <span class="article-metadata li-cite-author">
              {{ partial "page_metadata_authors" $item }}
            </span>
            ({{- $item.Date.Format "2006" -}}).
            <a href="{{ $item.RelPermalink }}">{{ $item.Title }}</a>.
            {{ if $item.Params.publication_short }}
            {{- $item.Params.publication_short | markdownify -}}.
            {{ else if $item.Params.publication }}
            {{- $item.Params.publication | markdownify -}}.
            {{ end }}
            <p>{{ partial "page_links" (dict "page" $item "is_list" 1) }}</p>
          
            {{/* MLA Style */}}
            {{ else }}
          
            <span class="article-metadata li-cite-author">
              {{ partial "page_metadata_authors" $item }}.
            </span>
            <a href="{{ $item.RelPermalink }}">{{ $item.Title }}</a>.
            {{ if $item.Params.publication_short }}
            {{- $item.Params.publication_short | markdownify -}},
            {{ else if $item.Params.publication }}
            {{- $item.Params.publication | markdownify -}},
            {{ end }}
            {{- $item.Date.Format "2006" -}}.
            {{ end }}
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</section>

{{- end -}}
